<div class="page-width page-content{% if section.blocks.size > 0 %} page-content--with-blocks{% endif %} all-brands--wrapper">
    <header class="section-header section-header--flush">
        <h1 class="section-header__title">
        {{ section.settings.title }}
        </h1>
    </header>
    {% for block in section.blocks %}
        <div class="brand-block">
            <div class="brand-block__image">
                {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image.src | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" class="brand-block__image--image" lazyload="lazy">
                    {% else %}
                        {{ 'lifestyle-1' | placeholder_svg_tag: "brand-block__image--image" }}
                {% endif %}
            </div>
            <div class="brand-block__info">
                <h2 class="brand-block__info--title">{{ block.settings.title }}</h2>
                <a href="{{ block.settings.btn_link }}" class="brand-block__info--link btn">{{ block.settings.btn_label }}</a>
            </div>
        </div>
    {% endfor %}
</div>

{% schema %}
{
    "name": "Page.all-brands page",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
        {
            "name": "Block",
            "type": "block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "btn_label",
                    "label": "Button label"
                },
                {
                    "type": "url",
                    "id": "btn_link",
                    "label": "Link"
                }
            ]
        }
    ]
}
{% endschema %}