<div class="co_plp_icons">
	<div>
		<a href="{{ section.settings.link1 }}">
		<i><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g><g><path fill="#1b1d20" d="M48 7.446v39.685c0 .48-.389.869-.869.869h-4.344a.87.87 0 0 1-.695-.347l-2.345-3.128H8.253l-2.345 3.128a.87.87 0 0 1-.695.347H.869A.869.869 0 0 1 0 47.13V7.446a3.975 3.975 0 0 1 3.971-3.97h2.11v-.417A3.063 3.063 0 0 1 9.141 0h9.52a3.063 3.063 0 0 1 3.058 3.06v.416h3.476V3.06A3.063 3.063 0 0 1 28.254 0h10.605a3.063 3.063 0 0 1 3.06 3.06v.416h2.11A3.975 3.975 0 0 1 48 7.446zm-21.068-3.97h13.249v-.417c0-.73-.592-1.32-1.322-1.322H28.254c-.73.001-1.321.593-1.322 1.322zm-19.113 0h12.163v-.417c0-.73-.592-1.32-1.322-1.322H9.14c-.729.001-1.32.593-1.321 1.322zm-6.081 3.97v9.927l44.524-.025V7.446a2.236 2.236 0 0 0-2.233-2.233H3.971a2.236 2.236 0 0 0-2.233 2.233zm44.524 38.816V19.085l-44.524.026v27.151h3.04l2.346-3.127a.869.869 0 0 1 .695-.348h32.362c.273 0 .531.129.695.348l2.346 3.127zM6.19 12.162a3.475 3.475 0 0 1 2.498-4.233v-.11a.869.869 0 1 1 1.737 0v.11a3.475 3.475 0 1 1-4.235 4.232zm1.629-.868a1.738 1.738 0 1 0 3.475 0 1.738 1.738 0 0 0-3.475 0zm7.059.867a3.475 3.475 0 0 1 2.498-4.232v-.11a.869.869 0 1 1 1.737 0v.11a3.475 3.475 0 1 1-4.235 4.232zm1.629-.867a1.738 1.738 0 1 0 3.475 0 1.738 1.738 0 0 0-3.475 0zm8.796.867a3.475 3.475 0 0 1 2.498-4.232v-.11a.869.869 0 1 1 1.737 0v.11a3.475 3.475 0 1 1-4.235 4.232zm1.63-.867a1.738 1.738 0 1 0 3.474 0 1.738 1.738 0 0 0-3.475 0zm8.144.867a3.475 3.475 0 0 1 2.498-4.232v-.11a.869.869 0 1 1 1.737 0v.11a3.475 3.475 0 1 1-4.235 4.232zm1.629-.867a1.738 1.738 0 1 0 3.475 0 1.738 1.738 0 0 0-3.475 0zm6.081 11.426v15.724c0 .48-.389.868-.868.868H6.08a.869.869 0 0 1-.868-.869V22.72c0-.48.389-.87.868-.87H41.92c.48 0 .868.39.868.87zm-1.737.868H6.95v13.987h34.1z"/></g></g></svg></i>
		<span>{{ section.settings.title1 }}</span>
		</a>
	</div>
	<div>
		<a href="{{ section.settings.link2 }}">
		<i><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><g><g><path fill="#1b1d20" d="M48 .846v46.308a.852.852 0 0 1-.857.846H.857A.852.852 0 0 1 0 47.154V.846C0 .38.384 0 .857 0h46.286c.473 0 .857.379.857.846zm-46.286.846v8.462h44.572V1.692zm44.572 44.616V11.846H1.714v34.462zM6.857 5.923c0-1.402 1.151-2.538 2.572-2.538C10.849 3.385 12 4.52 12 5.923c-.002 1.402-1.152 2.537-2.571 2.538-1.42 0-2.572-1.136-2.572-2.538zm1.714 0c0 .467.384.846.858.846a.852.852 0 0 0 .857-.846.852.852 0 0 0-.857-.846.852.852 0 0 0-.858.846zm27.429 0c0-1.402 1.151-2.538 2.571-2.538 1.42 0 2.572 1.136 2.572 2.538-.002 1.402-1.152 2.537-2.572 2.538-1.42 0-2.571-1.136-2.571-2.538zm1.714 0c0 .467.384.846.857.846a.852.852 0 0 0 .858-.846.852.852 0 0 0-.858-.846.852.852 0 0 0-.857.846zM17.143 7.615V4.231c0-.468.384-.846.857-.846h12c.473 0 .857.378.857.846v3.384a.852.852 0 0 1-.857.846H18a.852.852 0 0 1-.857-.846zm1.714-.846h10.286V5.077H18.857zm25.714 7.615V43.77a.852.852 0 0 1-.857.846H4.286a.852.852 0 0 1-.857-.846V14.385c0-.468.383-.847.857-.847h39.428c.474 0 .857.38.857.846zm-1.714.847H5.143v27.692h37.714zm-32.571 4.23c0-1.401 1.151-2.538 2.571-2.538h22.286c1.42 0 2.571 1.137 2.571 2.538 0 1.402-1.15 2.54-2.571 2.54H12.857c-1.42 0-2.571-1.138-2.571-2.54zm1.714 0c0 .468.384.847.857.847h22.286A.852.852 0 0 0 36 19.46a.852.852 0 0 0-.857-.846H12.857a.852.852 0 0 0-.857.846z"/></g></g></svg></i>
		<span>{{ section.settings.title2 }}</span>
		</a>
	</div>
	<div>
		<a href="{{ section.settings.link3 }}">
		<i><svg xmlns="http://www.w3.org/2000/svg" width="40" height="34" viewBox="0 0 40 34"><g><g><path fill="#1b1d20" d="M40 .79v28.466c0 .436-.358.79-.8.79h-1.6v3.163c0 .437-.358.791-.8.791h-6.4a.796.796 0 0 1-.8-.79v-3.164H10.24v3.163c0 .437-.358.791-.8.791H3.2a.796.796 0 0 1-.8-.79v-3.164H.8a.795.795 0 0 1-.8-.79V.79C0 .354.358 0 .8 0h38.4c.442 0 .8.354.8.79zM8.64 30.047H4v2.373h4.64zm27.36 0h-4.8v2.373H36zm2.4-28.465H1.6v26.884h36.8zM3.2 25.302V3.953c0-.436.358-.79.8-.79h22.4c.442 0 .8.354.8.79v21.35c0 .436-.358.79-.8.79H4a.795.795 0 0 1-.8-.79zm1.6-.79h20.8V4.744H4.8zm24-17.396c0-2.18 1.794-3.953 4-3.953s4 1.773 4 3.953c0 2.18-1.794 3.954-4 3.954s-4-1.774-4-3.954zm1.6 0c0 1.308 1.077 2.372 2.4 2.372s2.4-1.064 2.4-2.372c0-1.308-1.077-2.372-2.4-2.372s-2.4 1.064-2.4 2.372zm-1.6 9.489c0-2.18 1.794-3.954 4-3.954s4 1.774 4 3.954-1.794 3.953-4 3.953-4-1.773-4-3.953zm1.6 0c0 1.308 1.077 2.372 2.4 2.372s2.4-1.064 2.4-2.372c0-1.308-1.077-2.373-2.4-2.373s-2.4 1.065-2.4 2.373zm-1.6 9.488c0-.436.358-.79.8-.79H36c.442 0 .8.354.8.79 0 .437-.358.79-.8.79h-6.4a.796.796 0 0 1-.8-.79zm0-3.163c0-.436.358-.79.8-.79H36c.442 0 .8.354.8.79 0 .437-.358.791-.8.791h-6.4a.796.796 0 0 1-.8-.79zM7.766 10.838a.807.807 0 0 1-1.132 0 .784.784 0 0 1 0-1.118l3.2-3.163a.807.807 0 0 1 1.132 0 .785.785 0 0 1 0 1.118zm6.068-3.49a.807.807 0 0 1 1.132 0 .784.784 0 0 1 0 1.118l-6.4 6.326a.807.807 0 0 1-1.132 0 .784.784 0 0 1 0-1.119z"/></g></g></svg></i>
		<span>{{ section.settings.title3 }}</span>
		</a>
	</div>
	<div>
		<a href="{{ section.settings.link4 }}">
		<i><svg xmlns="http://www.w3.org/2000/svg" width="48" height="40" viewBox="0 0 48 40"><g><g><path fill="#1b1d20" d="M48 32.216v6.907a.854.854 0 0 1-.844.863H.844A.854.854 0 0 1 0 39.123v-6.907c0-.306.16-.59.419-.745L17.25 18.496V.863c0-.476.378-.863.844-.863h11.812c.466 0 .844.387.844.863v17.633l16.831 12.975c.26.155.419.439.419.745zm-44.035-.863h40.07L29.678 19.855H18.322zM18.938 18.13h10.125V1.727H18.938zm27.375 20.13v-5.18H1.688v5.18zM19.78 34.806v1.727a.854.854 0 0 1-.843.863.854.854 0 0 1-.844-.863v-1.727c0-.476.378-.863.844-.863.465 0 .843.387.843.863zm3.375 0v1.727a.854.854 0 0 1-.843.863.854.854 0 0 1-.844-.863v-1.727c0-.476.378-.863.843-.863.466 0 .844.387.844.863zm3.375 0v1.727a.854.854 0 0 1-.844.863.854.854 0 0 1-.843-.863v-1.727c0-.476.378-.863.843-.863.467 0 .844.387.844.863zm3.375 0v1.727a.854.854 0 0 1-.843.863.854.854 0 0 1-.844-.863v-1.727c0-.476.378-.863.844-.863.465 0 .843.387.843.863z"/></g></g></svg></i>
		<span>{{ section.settings.title4 }}</span>
		</a>
	</div>
	<div>
		<a href="{{ section.settings.link5 }}">
		<i><svg xmlns="http://www.w3.org/2000/svg" width="48" height="40" viewBox="0 0 48 40"><g><g><path fill="#1b1d20" d="M.806 0h46.388L48 .806v38.388l-.806.806H.806L0 39.194V.806zm14.59 34.76v1.613h-4.424V34.76zm21.632 0v1.613h-4.424V34.76zm-7.21 0v1.613h-4.425V34.76zm-7.212 0v1.613h-4.424V34.76zM35.524 4.12v1.24c1.09.173 2.065.69 2.811 1.436a5.104 5.104 0 0 1 1.436 2.812h1.24v1.612h-1.24a5.104 5.104 0 0 1-1.436 2.811 5.103 5.103 0 0 1-2.811 1.435v1.241h-1.612v-1.24A5.103 5.103 0 0 1 31.1 14.03a5.101 5.101 0 0 1-1.435-2.811h-1.24V9.607h1.24A5.102 5.102 0 0 1 31.1 6.795a5.103 5.103 0 0 1 2.812-1.436V4.12zm0 2.882v1.085h-1.612V7a3.5 3.5 0 0 0-1.672.934 3.498 3.498 0 0 0-.933 1.672h1.084v1.612h-1.084c.152.644.48 1.219.933 1.671a3.497 3.497 0 0 0 1.672.933V12.74h1.612v1.084a3.496 3.496 0 0 0 1.672-.933 3.498 3.498 0 0 0 .933-1.671h-1.085V9.607h1.085a3.498 3.498 0 0 0-.933-1.672A3.499 3.499 0 0 0 35.524 7zM14.088 19.263v1.241c1.09.173 2.065.69 2.811 1.435a5.104 5.104 0 0 1 1.436 2.812h1.24v1.612h-1.24a5.102 5.102 0 0 1-1.436 2.812 5.103 5.103 0 0 1-2.811 1.435v1.24h-1.612v-1.24a5.104 5.104 0 0 1-2.812-1.435 5.104 5.104 0 0 1-1.435-2.812h-1.24v-1.612h1.24a5.104 5.104 0 0 1 1.435-2.812 5.104 5.104 0 0 1 2.812-1.435v-1.24zm0 2.883v1.084h-1.612v-1.084a3.5 3.5 0 0 0-2.605 2.605h1.084v1.612H9.871c.152.644.48 1.22.933 1.672a3.498 3.498 0 0 0 1.672.933v-1.084h1.612v1.084a3.497 3.497 0 0 0 1.672-.933 3.495 3.495 0 0 0 .933-1.672h-1.085v-1.612h1.085a3.5 3.5 0 0 0-2.605-2.605zm21.436-2.883v1.241c1.09.173 2.065.69 2.811 1.435a5.104 5.104 0 0 1 1.436 2.812h1.24v1.612h-1.24a5.104 5.104 0 0 1-1.436 2.812 5.103 5.103 0 0 1-2.811 1.435v1.24h-1.612v-1.24a5.103 5.103 0 0 1-2.812-1.435 5.101 5.101 0 0 1-1.435-2.812h-1.24v-1.612h1.24a5.103 5.103 0 0 1 1.435-2.812 5.103 5.103 0 0 1 2.812-1.435v-1.24zm0 2.883v1.084h-1.612v-1.084a3.5 3.5 0 0 0-2.605 2.605h1.084v1.612h-1.084c.152.644.48 1.22.933 1.672a3.497 3.497 0 0 0 1.672.933v-1.084h1.612v1.084a3.497 3.497 0 0 0 1.672-.933 3.496 3.496 0 0 0 .933-1.672h-1.085v-1.612h1.085a3.5 3.5 0 0 0-2.605-2.605zM14.088 5.36c1.09.173 2.065.69 2.811 1.436a5.103 5.103 0 0 1 1.436 2.811h1.24v1.612h-1.24a5.103 5.103 0 0 1-1.436 2.812 5.103 5.103 0 0 1-2.811 1.435v1.241h-1.612v-1.24a5.104 5.104 0 0 1-2.812-1.436 5.105 5.105 0 0 1-1.435-2.812h-1.24V9.606h1.24a5.104 5.104 0 0 1 1.435-2.811 5.104 5.104 0 0 1 2.812-1.436V4.12h1.612zm0 1.642v1.085h-1.612V7a3.5 3.5 0 0 0-1.672.934 3.5 3.5 0 0 0-.933 1.671h1.084v1.612H9.871a3.5 3.5 0 0 0 2.605 2.605V12.74h1.612v1.084a3.497 3.497 0 0 0 1.672-.933 3.498 3.498 0 0 0 .933-1.672h-1.085V9.606h1.085a3.497 3.497 0 0 0-.933-1.671A3.5 3.5 0 0 0 14.088 7zm32.3-5.39H1.612v36.777h44.776z"/></g></g></svg></i>
		<span>{{ section.settings.title5 }}</span>
		</a>
	</div>
</div>

{% schema %}
	{
    "name": "PLP Icons",
    "settings": [
      {
        "type": "text",
        "id": "title1",
        "label": "Title 1",
        "default": "Estufas"
      },
      {
        "type": "url",
        "id": "link1",
        "label": "Link 1"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Title 2",
        "default": "Hornos"
      },
      {
        "type": "url",
        "id": "link2",
        "label": "Link 2"
      },
      {
        "type": "text",
        "id": "title3",
        "label": "Title 3",
        "default": "Microondas"
      },
      {
        "type": "url",
        "id": "link3",
        "label": "Link 3"
      },
      {
        "type": "text",
        "id": "title4",
        "label": "Title 4",
        "default": "Campañas"
      },
      {
        "type": "url",
        "id": "link4",
        "label": "Link 4"
      },
      {
        "type": "text",
        "id": "title5",
        "label": "Title 5",
        "default": "Topes de Cocina"
      },
      {
        "type": "url",
        "id": "link5",
        "label": "Link 5"
      }
    ]
  }
{% endschema %}